{% extends 'Backend/base/admin-base.html' %}
{% load static %}
{% block content %}
{% load widget_tweaks %}
            <div class="dashboard-content-one">
                <!-- Breadcubs Area Start Here -->
                <div class="breadcrumbs-area">
                    <h3>Portfolio</h3>
                    <ul>
                        <li>
                            <a href="index.html">Dashboard</a>
                        </li>
                        <li>Category</li>
                    </ul>
                </div>
                <!-- Breadcubs Area End Here -->
                <div class="row">
                    <!-- Add Notice Area Start Here -->
                    <div class="col-4-xxxl col-12">
                        <div class="card height-auto">
                            <div class="card-body">
                                <div class="heading-layout1">
                                    <div class="item-title">
                                        <h3>Manage Portfolio Category</h3>
                                    </div>
                                </div>
                                <form action="" method="POST"  class="new-added-form">
                                    {% csrf_token %}
                                    
                                    <div class="row">
                                        <div class="col-12-xxxl col-lg-12 col-12 form-group">
                                            <label>Category Name</label>
                                            {% render_field form.name class="form-control" placeholder="" %}
                                        </div> 
                                    </div>
                                    <div class="row">
                                        <div class="col-12-xxxl col-lg-12 col-12 form-group">
                                            <label>Icon</label>
                                            {% render_field form.icon class="form-control" placeholder="" %}
                                        </div> 
                                    </div>
                                    <br>
                                    <!-- <div class="row">
                                        <div class="col-12-xxxl col-lg-12 col-12 form-group">
                                            <label>Icon Name</label>
                                            {% render_field form.icon class="form-control" placeholder="" %}
                                        </div> 
                                    </div>
                                    <br> -->
                                    <div class="row">
                                        <div class="col-12 form-group mg-t-8">
                                            <button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Save</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Add Notice Area End Here -->
                    <!-- All Notice Area Start Here -->
                    <div class="col-4-xxxl col-12">
                        <div class="card height-auto">
                            <div class="card-body">
                                <div class="heading-layout1">
                                    <div class="item-title">
                                        <h3>Portfolio Category Details</h3>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>S.NO:</th>
                                                <th>Category Name</th>
                                                <th>Icon Name</th>                                   
                                                <th>Action</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for item in total  %}
                                            <tr>
                                                <td>
                                                    {{ forloop.counter }}
                                                </td>
                                                <td>
                                                    {{ item.name }}
                                                </td>
                                                <td>
                                                    {{ item.icon }}
                                                </td>
                                                <td>
                                                    <a href="{% url 'updatecategoryportfolio' item.id %}">
                                                        <i class="fas fa-user-edit text-dark-pastel-green"></i> Update
                                                    </a>
                                                </td>
                                                <td>
                                                    <a href="{% url 'deletecategoryportfolio' item.id %}">
                                                        <i class="fas fa-trash-alt text-orange-red"></i> Delete
                                                    </a>
                                                </td>
                                                
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
{% endblock content %}