{% load static %}
{% block blog %}

<section class="full-page" id="blog">
    <div class="blog overlay-container">
        <div class="kayo-intro-section">
            <div class="overlay">
                <div class="section-intro">
                    <div class="text-center kayo-icon-box-container">
                        <div class="kayo-icon-box">
                            <span class="fa fa-newspaper-o kayo-icon"></span>
                        </div>
                    </div>
                    <h1 class="text-center">
                        BLOG
                    </h1>
                </div>
            </div>
        </div>
        <div class="port-box">
            <div class="kayo-container">
                <div class="mrkayo-main-title">
                    <h2>
                        Last Posts
                        <span class="kayo-line"></span>
                    </h2>
                </div>
                <div class="posts">
                    <div class="row posts-grid">
                        <div class="col-lg-6 col-md-12 col-sm-6 post-grid-item">
                            <div>
                                <article class="normal-post">
                                    <figure class="entry-header">
                                        <div class="post-image">
                                            <img src="images/blog/01.jpg" class="img-responsive" alt="">
                                        </div>
                                        <ul class="post-category list-unstyled">
                                            <li><a href="#">creative</a></li>
                                            <li><a href="#">Front end</a></li>
                                            <li><a href="#">web design</a></li>
                                        </ul>
                                        <ul class="post-share list-unstyled">
                                            <li class="open-post-share">
                                                <span><i class="fa fa-share-alt"></i></span>
                                                <ul class="post-share-links list-unstyled">
                                                    <li>
                                                        <a href="#" class="facebook-bg-hover">
                                                            <i class="fa fa-facebook"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" class="twitter-bg-hover">
                                                            <i class="fa fa-twitter"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" class="google-plus-bg-hover">
                                                            <i class="fa fa-google-plus"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </figure>
                                    <div class="entry-content">
                                        <div class="entry-post-info">
                                            <h4><a href="#">Normal Post Style</a></h4>
                                            <p>Posted 6 Dec</p>
                                        </div>
                                        <div class="entry-expert">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur consectetur distinctio dolorum ea facilis non repellendus velit voluptas voluptates? Accusantium at doloribus eum iste iusto, nam rem repudiandae voluptates. Inventore.
                                            </p>
                                            <div class="post-readMore">
                                                <a href="#" class="pull-left read-more-link">Read More <i class="fa fa-long-arrow-right"></i></a>
                                                <span class="pull-right"><a href="#">1 COMMENT</a></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="entry-footer">
                                        <ul class="entry-tags list-unstyled list-inline">
                                            <li><a href="#">CSS</a></li>
                                            <li><a href="#">HTML</a></li>
                                            <li><a href="#">WORDPRESS</a></li>
                                        </ul>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-6 post-grid-item">
                            <div>
                                <article class="normal-post">
                                    <figure class="entry-header">
                                        <ul class="post-share list-unstyled">
                                            <li class="open-post-share">
                                                <span><i class="fa fa-share-alt"></i></span>
                                                <ul class="post-share-links list-unstyled">
                                                    <li>
                                                        <a href="#" class="facebook-bg-hover">
                                                            <i class="fa fa-facebook"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" class="twitter-bg-hover">
                                                            <i class="fa fa-twitter"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" class="google-plus-bg-hover">
                                                            <i class="fa fa-google-plus"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </figure>
                                    <div class="entry-content">
                                        <div class="entry-post-info">
                                            <h4><a href="#">Normal Post Style</a></h4>
                                            <p>
                                                Posted 3 Nov
                                            </p>
                                        </div>
                                        <div class="entry-expert">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur consectetur distinctio dolorum ea facilis non repellendus velit voluptas voluptates? Accusantium at doloribus eum iste iusto, nam rem repudiandae voluptates. Inventore.
                                            </p>
                                            <div class="post-readMore">
                                                <a href="#" class="pull-left read-more-link">Read More <i class="fa fa-long-arrow-right"></i></a>
                                                <span class="pull-right"><a href="#">1 COMMENT</a></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="entry-footer">
                                        <ul class="entry-tags list-unstyled list-inline">
                                            <li><a href="#">CSS</a></li>
                                            <li><a href="#">HTML</a></li>
                                            <li><a href="#">WORDPRESS</a></li>
                                        </ul>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-6 post-grid-item">
                            <div>
                                <article class="normal-post">
                                    <figure class="entry-header">
                                        <div class="post-image">
                                            <img src="images/blog/02.jpg" class="img-responsive" alt="">
                                        </div>
                                        <ul class="post-category list-unstyled">
                                            <li><a href="#">creative</a></li>
                                            <li><a href="#">Front end</a></li>
                                            <li><a href="#">web design</a></li>
                                        </ul>
                                        <ul class="post-share list-unstyled">
                                            <li class="open-post-share">
                                                <span><i class="fa fa-share-alt"></i></span>
                                                <ul class="post-share-links list-unstyled">
                                                    <li>
                                                        <a href="#" class="facebook-bg-hover">
                                                            <i class="fa fa-facebook"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" class="twitter-bg-hover">
                                                            <i class="fa fa-twitter"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" class="google-plus-bg-hover">
                                                            <i class="fa fa-google-plus"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </figure>
                                    <div class="entry-content">
                                        <div class="entry-post-info">
                                            <h4><a href="#">Normal Post Style</a></h4>
                                            <p>Posted 12 Oct</p>
                                        </div>
                                        <div class="entry-expert">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur consectetur distinctio dolorum ea facilis non repellendus velit voluptas voluptates? Accusantium at doloribus eum iste iusto, nam rem repudiandae voluptates. Inventore.
                                            </p>
                                            <div class="post-readMore">
                                                <a href="#" class="pull-left read-more-link">Read More <i class="fa fa-long-arrow-right"></i></a>
                                                <span class="pull-right"><a href="#">1 COMMENT</a></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="entry-footer">
                                        <ul class="entry-tags list-unstyled list-inline">
                                            <li><a href="#">CSS</a></li>
                                            <li><a href="#">HTML</a></li>
                                            <li><a href="#">WORDPRESS</a></li>
                                        </ul>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-6 post-grid-item">
                            <div>
                                <article class="normal-post">
                                    <figure class="entry-header">
                                        <ul class="post-share list-unstyled">
                                            <li class="open-post-share">
                                                <span><i class="fa fa-share-alt"></i></span>
                                                <ul class="post-share-links list-unstyled">
                                                    <li>
                                                        <a href="#" class="facebook-bg-hover">
                                                            <i class="fa fa-facebook"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" class="twitter-bg-hover">
                                                            <i class="fa fa-twitter"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" class="google-plus-bg-hover">
                                                            <i class="fa fa-google-plus"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </figure>
                                    <div class="entry-content">
                                        <div class="entry-post-info">
                                            <h4><a href="#">Normal Post Style</a></h4>
                                            <p>
                                                Posted 18 Aug
                                            </p>
                                        </div>
                                        <div class="entry-expert">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur consectetur distinctio dolorum ea facilis non repellendus velit voluptas voluptates? Accusantium at doloribus eum iste iusto, nam rem repudiandae voluptates. Inventore.
                                            </p>
                                            <div class="post-readMore">
                                                <a href="#" class="pull-left read-more-link">Read More <i class="fa fa-long-arrow-right"></i></a>
                                                <span class="pull-right"><a href="#">1 COMMENT</a></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="entry-footer">
                                        <ul class="entry-tags list-unstyled list-inline">
                                            <li><a href="#">CSS</a></li>
                                            <li><a href="#">HTML</a></li>
                                            <li><a href="#">WORDPRESS</a></li>
                                        </ul>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-6 post-grid-item">
                            <div>
                                <article class="normal-post">
                                    <figure class="entry-header">
                                        <div class="post-image">
                                            <img src="images/blog/03.jpg" class="img-responsive" alt="">
                                        </div>
                                        <ul class="post-category list-unstyled">
                                            <li><a href="#">creative</a></li>
                                            <li><a href="#">Front end</a></li>
                                            <li><a href="#">web design</a></li>
                                        </ul>
                                        <ul class="post-share list-unstyled">
                                            <li class="open-post-share">
                                                <span><i class="fa fa-share-alt"></i></span>
                                                <ul class="post-share-links list-unstyled">
                                                    <li>
                                                        <a href="#" class="facebook-bg-hover">
                                                            <i class="fa fa-facebook"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" class="twitter-bg-hover">
                                                            <i class="fa fa-twitter"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" class="google-plus-bg-hover">
                                                            <i class="fa fa-google-plus"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </figure>
                                    <div class="entry-content">
                                        <div class="entry-post-info">
                                            <h4><a href="#">Normal Post Style</a></h4>
                                            <p>Posted 2 Jul</p>
                                        </div>
                                        <div class="entry-expert">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur consectetur distinctio dolorum ea facilis non repellendus velit voluptas voluptates? Accusantium at doloribus eum iste iusto, nam rem repudiandae voluptates. Inventore.
                                            </p>
                                            <div class="post-readMore">
                                                <a href="#" class="pull-left read-more-link">Read More <i class="fa fa-long-arrow-right"></i></a>
                                                <span class="pull-right"><a href="#">1 COMMENT</a></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="entry-footer">
                                        <ul class="entry-tags list-unstyled list-inline">
                                            <li><a href="#">Design</a></li>
                                            <li><a href="#">HTML</a></li>
                                            <li><a href="#">WEB</a></li>
                                        </ul>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-6 post-grid-item">
                            <div>
                                <article class="normal-post">
                                    <figure class="entry-header">
                                        <div class="post-image">
                                            <img src="images/blog/04.jpg" class="img-responsive" alt="">
                                        </div>
                                        <ul class="post-category list-unstyled">
                                            <li><a href="#">creative</a></li>
                                            <li><a href="#">Front end</a></li>
                                            <li><a href="#">web design</a></li>
                                        </ul>
                                        <ul class="post-share list-unstyled">
                                            <li class="open-post-share">
                                                <span><i class="fa fa-share-alt"></i></span>
                                                <ul class="post-share-links list-unstyled">
                                                    <li>
                                                        <a href="#" class="facebook-bg-hover">
                                                            <i class="fa fa-facebook"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" class="twitter-bg-hover">
                                                            <i class="fa fa-twitter"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" class="google-plus-bg-hover">
                                                            <i class="fa fa-google-plus"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </figure>
                                    <div class="entry-content">
                                        <div class="entry-post-info">
                                            <h4><a href="#">Normal Post Style</a></h4>
                                            <p>Posted 8 Mar</p>
                                        </div>
                                        <div class="entry-expert">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur consectetur distinctio dolorum ea facilis non repellendus velit voluptas voluptates? Accusantium at doloribus eum iste iusto, nam rem repudiandae voluptates. Inventore.
                                            </p>
                                            <div class="post-readMore">
                                                <a href="#" class="pull-left read-more-link">Read More <i class="fa fa-long-arrow-right"></i></a>
                                                <span class="pull-right"><a href="#">1 COMMENT</a></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="entry-footer">
                                        <ul class="entry-tags list-unstyled list-inline">
                                            <li><a href="#">CSS</a></li>
                                            <li><a href="#">HTML</a></li>
                                            <li><a href="#">WORDPRESS</a></li>
                                        </ul>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock blog %}